<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
        #header h1 { display:inline;
        font-family: 'Roboto', sans-serif;}
    </style>
</head>
<header id="header-background">
    <div class="portada"></div>
</header>
<body style="background-color: rgb(41, 41, 41);">
    <div id="header" style="text-align: center;">
        <br><br>
        <h1 style="color: aliceblue;">Sean bienvenidos al cine </h1><h1 style="color: rgb(25, 60, 216);">Royal Films</h1>
    </div>
    <br><br>
    <div style="font-family: 'Roboto', sans-serif; text-align: center; color: aliceblue;">¿En que le podemos ayudar? <br><br>
        <a href="crearp"><input type="button" name="crearpeli" value="Crear una nueva película"></a>
        <a href="mirarp"><input type="button" name="mirarpeli" value="Visualizar películas creadas"></a> 
    </div>
</body>
</html>